* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 100vh;
}

header {
    background-color: lightslategray;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

#roma {
    list-style: lower-greek;
}

footer {
    background-color: lightslategray;
    text-align: center;
    padding: 20px;
    bottom: 0;
}

/*index 1*/
img {
    height: 50%;
    width: 25%;
}

a {
    color: black;
    text-decoration: dotted;
    padding: 10px;
}

button, input {
    padding: 10px;
    width: 10%;
}


